* {
    /* border: solid; */
    /* background-color:#e9e965; */
}

body{
    background-color:#f8f85d;
}

header {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-left {
    margin: 20px 20px 0px;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0.3em;
    animation: suraido 1s linear 2s 1 normal none;
}

.header-right {
    margin: 70px 20px;
    width: 100px;
    height: 100px;
    position: fixed;
    background-color: transparent;
    top: 0;
    right: 0px;
}


.kv {
    background-image: url(./1845-scaled.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    max-width: 100%;
}

.kv:hover{
    background: url(./view-of-the-atomic-bomb-dome-in-hiroshima-japan-unesco-world-heritage-site_255553-2998.jpeg)
}

.main-title {
    font-size: 50px;
    background-color: transparent;
    color: rgb(241, 236, 236);
    position: absolute;
    top: 80%;
    left: 5%;

}

/* セクション１説明文 */

.main-box {
    margin: 0 auto;
    margin-top: 150px;
    padding: 30px;
    border: 1px solid black;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    margin-bottom: 100px;
    background-color: white;
}

.main-box img {
    width: 20%;
    height: 20%;
}

.main-text {
    text-align: start;
    /* width: 400px; */
    /* padding: 50px 50px 50px; */
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;


}


/* スタート */

.border1 {
    text-align: center;
}

.start {
    padding: 30px 30px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgb(59, 183, 211);
    letter-spacing: 0.3em;
    margin: 100px 0 100px;
    /* -webkit-text-stroke: 5px black; */
}

/* マウスオーバー時 */
.start:hover{
    color: white;
    background-color: #e9417e;
    cursor: pointer;
}

/* 広島本通 */

.course1 {
    margin: 0 auto;
    display: flex;
    padding: 30px;
    border: 1px solid black;
    border-radius: 64px;
    max-width: 1200px;
    margin-top: 50px;
    height: 500px;
    background-color: white;
}

.box1 {
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
    margin-left: 100px;
    font-weight: bold;
    background: linear-gradient(transparent 50%, #ddd 50%);
    width: 300px;
}

.section1{
    padding: 50px;
}

/* 画像の動き、ホバー */

.box {
    position: relative;
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

.box img {
    max-width: 100%;
    height: auto;
    position: absolute;
}

.box img:last-child {
    top: 100%;
    transition: 0.3s;
}

.box:hover img:last-child {
    top: 0;
}

/* 原爆ドーム */

.course2 {
    margin: 0 auto;
    display: flex;
    padding: 30px;
    border: 1px solid black;
    border-radius: 64px;
    max-width: 1200px;
    margin-top: 50px;
    height: 500px;
    background-color: white;

}



.box2 {
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    margin-left: 200px;
    font-weight: bold;
    background: linear-gradient(transparent 50%, #ddd 50%);
    width: 300px;
}

.section1 p {
    font-size: 20px;
}

.section1 p:nth-child(3) {
    text-align: end;
    font-size: 20px;
    color: rgb(116, 116, 109);
}


.yazirushi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.yazirushi img {
    margin: 7px;
    width: 15px;
    height: 15px;
}

.yazirushi .idou1 {
    letter-spacing: 0.1em;
    margin: 13px;
    padding: 13px;
    font-size: 25px;
    font-weight: bold;
    background: #fff;
    border-top: 2px solid #1a1a1a;
    border-bottom: 2px solid #1a1a1a;
}

.section1 p:nth-child(4) {
    text-align: start;
    font-size: 20px;
    color: rgb(116, 116, 109);
}


/* おりづるタワー */


.course1 {
    margin: 0 auto;
    display: flex;
    padding: 30px;
    border: 1px solid black;
    border-radius: 64px;
    max-width: 1200px;
    margin-top: 50px;
    height: 500px;

}

.section2 p {
    font-size: 20px;
}

.oriduru {
    margin: 10px;
}

.section2 p:last-child {
    text-align: end;
    font-size: 20px;
    color: rgb(116, 116, 109);
}


.circle {
    font-size: 40px;
}

iframe {
    display: flex;
    justify-content: center;
}



/* レスポンシブ対応 */

@media screen and (max-width:767px) {
    .header-left {
        font-size: 20px;
    }

    .header-right{
        width: 50px;
        height: 50px;
    }

    .kv {
        width: auto;
        background-size: cover;
    }

    .main-title {
        font-size: 20px;
    }

    .main-text {
        font-size: 10px;
    }

    .start {
        width: auto;
    }

    .course1 {
        flex-direction: column;
        justify-content: center;
    }

    .course2 {
        flex-direction: column-reverse;

    }

    .section1{
        padding: 10px;
    }

    .box1 {
        margin-top: 0px;
        text-align: center;
        font-size: 20px;
        margin: 0 auto;
    }

    .box2{
            margin-top: 0px;
            text-align: center;
            font-size: 20px;
            margin: 0 auto;
    }

    .course1 .box {
            width: 60vw;
            height: 50vh;
            font-size: 20px;
    }
    .course2 .box {
        width: 60vw;
        height: 50vh;
        margin-top: 0px;
        font-size: 20px;
    }

    .section1 p{
        font-size: 15px;
    }

    .section2 p{
        font-size: 15px;
    }




    h2 .box1 {
        font-size: 10px;
    }

    .box {
        max-width: 100%;
    }

    p {
        font-size: 5px;
    }

    .yazirushi .idou1{
        font-size: 12px;
    }


































}